@charset "UTF-8";
/* CSS Document */
/*=======================================
「reset.css」には各タグの初期値を設定しています。
=======================================*/
/*******************************************
Font-size Adjustment
77% = 10px	| 	129% = 17px	|	182% = 24px
85% = 11px	|	136% = 18px	|	189% = 25px	
92% = 12px	|	144% = 19px	|	197% = 26px
100% = 13px	|	152% = 20px	|   204% = 27px
107% = 14px	|	159% = 21px	|   211% = 28px
114% = 15px	|	167% = 22px |
122% = 16px	|   174% = 23px |
********************************************/
/*---------------------------------------
Reset
----------------------------------------*/
html, body,
h1, h2, h3, h4, h5, h6,
div, p, dl, dt, dd, ol, ul, li,
span, a, strong, em, b, i, del, dfn, img, ins, kbd, q, samp, small, sub, sup, var,
table, caption, tbody, tfoot, thead, tr, th, td,
fieldset, form, label, legend,
object, iframe, blockquote, pre, abbr, address, cite, code,
article, aside, canvas, details, figcaption, figure,
footer, header, main, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

:focus {
  outline: 0; }

html {
  overflow-y: scroll; }

body {
  font-family: "メイリオ", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック";
  font-size: 13px;
  *font-size: small;
  *font: x-small;
  font-size: small\9;
  line-height: 1.5;
  color: #333;
  -webkit-text-size-adjust: 100%;
  background: #FFF; }

/*
:root body {
	font-size:small \0/;
}
*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body {
    font-size: small; } }

header, main, menu, nav, section, article, aside, details, figcaption, figure, footer {
  display: block; }

input[type=submit], input[type=button], input[type=radio], input[type=checkbox], select, textarea, label {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  font-size: 100%;
  font-weight: normal;
  cursor: pointer; }

input[type=text] {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  font-size: 100%;
  font-weight: normal; }

img {
  border: 0; }

strong {
  font-weight: bold; }

em {
  color: #CB0606;
  font-style: normal; }

b {
  font-weight: bold; }

table {
  border-collapse: collapse; }

th, td {
  vertical-align: top; }

p {
  margin-bottom: 15px; }

caption, th, td {
  text-align: left; }

ul, ol {
  list-style: none; }

address {
  font-style: normal; }

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="password"],
input[type="email"],
textarea {
  box-sizing: border-box; }

a {
  color: #07C;
  text-decoration: none; }

a:visited {
  text-decoration: none; }

a:hover {
  color: #04a7e8;
  text-decoration: underline;
  transition: .5s all;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -ms-transition: .5s all; }

a:hover img {
  opacity: .6;
  transition: .5s all;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -ms-transition: .5s all;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

body {
  background-color: #eee; }

.test {
  color: #000000; }
